In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsRegressor
csv = pd.read_csv("healthcare-dataset-stroke-data\healthcare-dataset-stroke-data.csv",na_values="Unknown",encoding='utf-8')
csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     3566 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [2]:
csv.shape
csv.dropna(axis=1,inplace=True)
csv.shape
csv.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,1.000000

In [3]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
csv.loc[:,'gender'] = le.fit_transform(csv["gender"])
csv.loc[:,'ever_married'] = le.fit_transform(csv["ever_married"])
csv.loc[:,'work_type'] = le.fit_transform(csv["work_type"])
csv.loc[:,'Residence_type'] = le.fit_transform(csv["Residence_type"])

In [4]:
# One-hot encode the data using pandas get_dummies
# csv = pd.get_dummies(csv)
# Display the first 5 rows of the last 12 columns
csv.head(5)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,stroke
0,9046,1,67.0,0,1,1,2,1,228.69,1
1,51676,0,61.0,0,0,1,3,0,202.21,1
2,31112,1,80.0,0,1,1,2,0,105.92,1
3,60182,0,49.0,0,0,1,2,1,171.23,1
4,1665,0,79.0,1,0,1,3,0,174.12,1

In [5]:
# Use numpy to convert to arrays
import numpy as np

# Labels are the values we want to predict
labels = np.array(csv['stroke'])
# Remove the labels from the csv
# axis 1 refers to the columns
csv= csv.drop('stroke', axis = 1)
csv= csv.drop('id', axis = 1)
# Saving feature names for later use
feature_list = list(csv.columns)
# Convert to numpy array
csv = np.array(csv)

In [6]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(csv, labels, test_size = 0.25, random_state = 42)

In [64]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (3832, 9)
Training Labels Shape: (3832,)
Testing Features Shape: (1278, 9)
Testing Labels Shape: (1278,)

In [65]:

print(test_labels)

[0 0 0 ... 0 1 0]

In [7]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(train_features, train_labels)

RandomForestRegressor(n_estimators=1000, random_state=42)

In [8]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2))

Mean Absolute Error: 0.09

In [9]:
predictions = predictions.round()
# print(predictions.shape)
# print(test_labels.shape)
# print(predictions)
from sklearn.metrics import f1_score
print(f1_score(test_labels, predictions, average=None))
from sklearn.metrics import average_precision_score
average_precision = average_precision_score(test_labels, predictions)

print('Average precision-recall score: {0:0.2f}'.format(
      average_precision))

[0.96596434 0.04545455]
Average precision-recall score: 0.07